# Shared
NODE_ENV=development

# API
PORT=3001
DATABASE_URL=postgresql://publication:publication@localhost:5433/publication?schema=public
CORS_ORIGINS=http://localhost:3000,http://localhost:3002
PLATFORM_ANALYTICS_KEY=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@publication.local
PGADMIN_DEFAULT_PASSWORD=Raju2006

# Admin app
ADMIN_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001

# Site app
SITE_PORT=3002
NEXT_PUBLIC_SITE_URL=http://localhost:3002
